<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
  body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 28px;
  margin: 20px 0;
  text-align: center;
  color: #444;
}
a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
</style>
</head>
<body>
<h3 th:if="${username != null}" th:text="${'Current user: ' + username }"></h3>
<h1>Welcome!</h1>

<a th:if="!${username}" href="/login">Log In</a>
<br>
<a th:if="!${username}" href="/signup">Or Sign Up</a>
<a th:if="${username}" href="/login">Log Out</a>
</body>
</html>